- @materials_arr.each do |materials|
  .row
    - materials.each do |material|
      - if material.present?
        = render "booth",:material=>material
.row
  = paginate @materials, :theme => 'twitter-bootstrap-3'

