- unless notice.nil?
  %p
    .alert.alert-success#notice= notice

%p
  %b 名称:
  = @category.name
- @albums_arr.each do |albums|
  .row
    - albums.each do |album|
      - if album.present?
        = render "albums",:album=>album